<!DOCTYPE html>
<html lang="en">
<body id="page-top">
    <header class="masthead">
        <div class="container">
            <div class="masthead-subheading">Welcome to Khumalo Enterprises!</div>
            <div class="masthead-heading text-uppercase">Welcome to my enterprise</div>
            <a class="btn btn-primary btn-xl text-uppercase" href="#services">Tell Me More</a>
        </div>
    </header>
    <!--This shows customers what the enterprise offers-->
    <section class="page-section" id="services">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Services</h2>
                <h3 class="section-subheading text-muted">What e-commerce facilities we offer.</h3>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="my-3">Shopping Experience</h4>
                    <p class="text-muted">
                       Increasing transparency and trust by letting customers rate and comment on items.
                        Offering specific product recommendations based on the tastes and browsing habits of the user.
                        These features expedite the purchasing experience by enabling users to store and arrange chosen goods for later use.
                        Order tracking and status updates, Increasing openness and communication by giving clients real-time information on the status of their orders.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="my-3">Support System</h4>
                    <p class="text-muted">
                        Customer Support and Assistance, Providing a range of channels, including phone, email, and live chat, to help customers with questions or problems.
                        Discounts & Promotions, Offering exclusive deals and discounts to encourage purchases and honor devoted customers.
                        Subscription Services, Providing curated collections or recurrent product subscriptions to promote repeat business and ease of use.
                        Using social network capabilities to make it easier to share items and purchases, increase reach, and increase consumer interaction is known as social commerce integration..
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="my-3">Security</h4>
                    <p class="text-muted">Ensuring that strong security mechanisms are in place to secure customers' transactions and personal data, no personal data will be shared once entered to our site. We will protect our customers valuables .</p>
                </div>
            </div>
        </div>
    </section>
    <!-- My Work-->
    <section class="page-section bg-light" id="portfolio">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">My Work</h2>
                <h3 class="section-subheading text-muted">See below to see what products are crafted.</h3>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 mb-4">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="assets/img/portfolio/1.jpeg" alt="..." />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Belts</div>
                            <div class="portfolio-caption-subheading text-muted">Leather</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <!-- Portfolio item 2-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" <img src="~/assets/img/portfolio/part 1, 4.jpeg" />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Jewelery</div>
                            <div class="portfolio-caption-subheading text-muted">Custom</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <!-- Portfolio item 3-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" <img src="~/assets/img/portfolio/part 1 ,2,3.jpeg" />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Baskets</div>
                            <div class="portfolio-caption-subheading text-muted">Handmade</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                    <!-- Portfolio item 4-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" <img src="~/assets/img/portfolio/part1,5.jpeg" />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Custom potches</div>
                            <div class="portfolio-caption-subheading text-muted">Leather</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                    <!-- Portfolio item 5-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal5">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" <img src="~/assets/img/portfolio/part 1 ,2.jpeg" />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Wooden Utensil</div>
                            <div class="portfolio-caption-subheading text-muted">Custom dishes</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <!-- Portfolio item 6-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal6">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" <img src="~/assets/img/portfolio/part 2.jpg" />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bowls</div>
                            <div class="portfolio-caption-subheading text-muted">Wooden handcrafted</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About-->
    <section class="page-section" id="about">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">About Us</h2>
                <h3 class="section-subheading text-muted">Insight of Mr Khumalo company.</h3>
            </div>
            <ul class="timeline">
                <li>
                    <div class="timeline-image"><img class="rounded-circle img-fluid"<img src="~/assets/img/portfolio/part 1,9.jpg" /> </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            
                            <h4 class="subheading">
                                KhumaloCraft Emporium

                                Founder: James Khumalo
                            </h4>
                        </div>
                        <div class="timeline-body"><p class="text-muted">KhumaloCraft Emporium is committed to bringing together worldwide audiences and artists from all over the world. It does this by exhibiting their distinctive handcrafted goods and encouraging cultural variety, sustainability, and ethical workmanship.</p></div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-image"><img class="rounded-circle img-fluid"<img src="~/assets/img/portfolio/part 1, 8.jpeg" /> </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                           
                            <h4 class="subheading">Values and Mission</h4>
                        </div>
                        <div class="timeline-body"><p class="text-muted">At KhumaloCraft Emporium, our mission is to celebrate artisanal craftsmanship by connecting talented artisans with customers worldwide. We prioritize authenticity, sustainability, and empowerment, offering a curated selection of handcrafted products that reflect cultural heritage and creativity. Through our platform, we aim to empower artisans, preserve traditional techniques, and foster community engagement. Our core values of authenticity, sustainability, empowerment, community, quality, integrity, and innovation guide everything we do, as we strive to provide unique shopping experiences while upholding ethical standards and promoting cultural exchange</p></div>
                    </div>
                </li>
                <li>
                    <div class="timeline-image"><img class="rounded-circle img-fluid"<img src="~/assets/img/portfolio/part 3.jpeg" /></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                          
                            <h4 class="subheading">Vision</h4>
                        </div>
                        <div class="timeline-body"><p class="text-muted">Our future vision at KhumaloCraft Emporium is to become a leading global destination for artisanal craftsmanship, recognized for our commitment to authenticity, sustainability, and community empowerment. We envision expanding our platform to showcase a diverse array of handcrafted products from artisans worldwide, while continuing to uphold the highest standards of quality and integrity. We aspire to foster meaningful connections between artisans and customers, creating a thriving community built on creativity, collaboration, and cultural exchange. With a focus on innovation and continuous improvement, we aim to inspire and empower artisans to share their craft with the world, while providing customers with unparalleled access to unique and meaningful handmade goods</p></div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-image"><img class="rounded-circle img-fluid"<img src="~/assets/img/portfolio/part 4.jpg" /> </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            
                            <h4 class="subheading">What sets us apart from others</h4>
                        </div>
                        <div class="timeline-body"><p class="text-muted">At KhumaloCraft Emporium, what sets us apart is our unwavering commitment to authenticity, sustainability, and community empowerment. Unlike others, we prioritize the preservation of traditional artisanal techniques and the promotion of eco-friendly practices, ensuring that each handcrafted product tells a story and embodies the rich cultural heritage of its creator. We go beyond commerce to foster a vibrant community of artisans and customers, united by a shared passion for craftsmanship and creativity. Our dedication to quality, integrity, and innovation sets us apart as a trusted destination for those seeking unique, ethically sourced, and culturally inspired handmade goods. At KhumaloCraft, we're not just selling products—we're sharing stories, celebrating diversity, and making a positive impact on the world</p></div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-image">
                        <h4>
                            Come join
                            <br />
                            Our
                            <br />
                            Journey
                        </h4>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <!-- Team-->
    <section class="page-section bg-light" id="team">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
                <h3 class="section-subheading text-muted"> These are the founders and investor for KhumaloCrafts</h3>
            </div>
            <div class="row">
               
                   
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                    <img class="mx-auto rounded-circle" <img src="~/assets/img/portfolio/part 5.jpeg" />
                        <h4>James Khumalo</h4>
                        <p class="text-muted">Owner</p>
                    <div class="row">
                        <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">This is Mr James Khumalo he is the owner of Khumalo crafts and is here to help.</p></div>
                    </div>
                       
                </div>
                </div>
            
        </div>
    </section>
    <!-- Clients-->
    <div class="py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-3 col-sm-6 my-3">
                    <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="assets/img/logos/microsoft.svg" alt="..." aria-label="Microsoft Logo" /></a>
                </div>
                <div class="col-md-3 col-sm-6 my-3">
                    <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="assets/img/logos/google.svg" alt="..." aria-label="Google Logo" /></a>
                </div>
                <div class="col-md-3 col-sm-6 my-3">
                    <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="assets/img/logos/facebook.svg" alt="..." aria-label="Facebook Logo" /></a>
                </div>
                <div class="col-md-3 col-sm-6 my-3">
                    <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="assets/img/logos/ibm.svg" alt="..." aria-label="IBM Logo" /></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact-->
    <section class="page-section" id="contact">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Contact Us</h2>
                <h3 class="section-subheading text-muted">Write back to us here.</h3>
            </div>
            
            
            <form action="https://api.web3forms.com/submit" method="POST" style="max-width: 500px; margin: 0 auto;">
    <!-- Replace with your Access Key -->
    <input type="hidden" name="access_key" value="4ae181f8-98e5-45d9-b40b-ed5669f2d2ef">

    <!-- Name input-->
    <div class="form-group" style="margin-bottom: 20px;">
        <input class="form-control" name="name" type="text" placeholder="Your Name *" required style="width: 100%;">
    </div>

    <!-- Email address input-->
    <div class="form-group" style="margin-bottom: 20px;">
        <input class="form-control" name="email" type="email" placeholder="Your Email *" required style="width: 100%;">
    </div>

    <!-- Phone number input-->
    <div class="form-group" style="margin-bottom: 20px;">
        <input class="form-control" name="phone" type="tel" placeholder="Your Phone" style="width: 100%;">
    </div>

    <!-- Message input-->
    <div class="form-group" style="margin-bottom: 20px;">
        <textarea class="form-control" name="message" placeholder="Your Message *" required style="width: 100%;"></textarea>
    </div>

    <!-- hCaptcha Spam Protection -->
    <div class="form-group" style="margin-bottom: 20px;">
        <div class="h-captcha" data-captcha="true"></div>
    </div>

    <!-- Submit Button-->
    <div class="form-group text-center" style="margin-bottom: 20px;">
        <button class="btn btn-primary btn-xl text-uppercase" type="submit" style="width: 100%;">Send Message</button>
    </div>
</form>

            <!-- Required for hCaptcha -->
            <script src="https://web3forms.com/client/script.js" async defer></script>

        </div>
    </section>
    <!-- Footer-->
    <footer class="footer py-4">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 text-lg-start">Copyright &copy; Your Website 2023</div>
                <div class="col-lg-4 my-3 my-lg-0">
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <div class="col-lg-4 text-lg-end">
                    <a class="link-dark text-decoration-none me-3" href="https://st10385543cldv6211part1website.azurewebsites.net/Home/Privacy">Privacy Policy</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- Portfolio Modals-->
    <!-- Portfolio item 1 modal popup-->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Project details-->
                                <h2 class="text-uppercase">Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/1.jpeg" alt="..." />
                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                <ul class="list-inline">
                                    <li>
                                        <strong>Client:</strong>
                                        Threads
                                    </li>
                                    <li>
                                        <strong>Category:</strong>
                                        Illustration
                                    </li>
                                </ul>
                                <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                    <i class="fas fa-xmark me-1"></i>
                                    Close Project
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio item 2 modal popup-->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Project details-->
                                <h2 class="text-uppercase">Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/2.jpg" alt="..." />
                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                <ul class="list-inline">
                                    <li>
                                        <strong>Client:</strong>
                                        Explore
                                    </li>
                                    <li>
                                        <strong>Category:</strong>
                                        Graphic Design
                                    </li>
                                </ul>
                                <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                    <i class="fas fa-xmark me-1"></i>
                                    Close Project
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio item 3 modal popup-->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Project details-->
                                <h2 class="text-uppercase">Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/3.jpg" alt="..." />
                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                <ul class="list-inline">
                                    <li>
                                        <strong>Client:</strong>
                                        Finish
                                    </li>
                                    <li>
                                        <strong>Category:</strong>
                                        Identity
                                    </li>
                                </ul>
                                <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                    <i class="fas fa-xmark me-1"></i>
                                    Close Project
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio item 4 modal popup-->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Project details-->
                                <h2 class="text-uppercase">Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/4.jpg" alt="..." />
                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                <ul class="list-inline">
                                    <li>
                                        <strong>Client:</strong>
                                        Lines
                                    </li>
                                    <li>
                                        <strong>Category:</strong>
                                        Branding
                                    </li>
                                </ul>
                                <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                    <i class="fas fa-xmark me-1"></i>
                                    Close Project
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio item 5 modal popup-->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Project details-->
                                <h2 class="text-uppercase">Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/5.jpg" alt="..." />
                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                <ul class="list-inline">
                                    <li>
                                        <strong>Client:</strong>
                                        Southwest
                                    </li>
                                    <li>
                                        <strong>Category:</strong>
                                        Website Design
                                    </li>
                                </ul>
                                <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                    <i class="fas fa-xmark me-1"></i>
                                    Close Project
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio item 6 modal popup-->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Project details-->
                                <h2 class="text-uppercase">Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/6.jpg" alt="..." />
                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                <ul class="list-inline">
                                    <li>
                                        <strong>Client:</strong>
                                        Window
                                    </li>
                                    <li>
                                        <strong>Category:</strong>
                                        Photography
                                    </li>
                                </ul>
                                <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                    <i class="fas fa-xmark me-1"></i>
                                    Close Project
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
